@{
    ViewBag.Title = "Home Page";
}
@section featured {
}
<div id="wrapper">
    <div id="featured-wrapper">
        <div id="featured" class="container">
			<div class="column1"> <a href="~/OrderItem/Pending"><span class="icon icon-th-list"></span></a>
				<div class="title">
                    <h2><a style="text-decoration:none" href="~/OrderItem/Pending">Kitchen Staff</a></h2>
				</div>
				<p>For Kitchen staff updating order status.</p>
			</div>
			<div class="column2"> <a href="~/Order/Edit"><span class="icon icon-food"></span></a>
				<div class="title">
					<h2><a style="text-decoration:none" href="~/Order/Edit">Guest</a></h2>
				</div>
				<p>For guest ordering menu.</p>
			</div>
        </div>
	</div>
</div>