@{
    ViewBag.Title = "Home Page";
}
@section featured {
}
<div id="wrapper">
    <div id="featured-wrapper">
        <div id="featured" class="container">
			<div class="column1"> <a href="~/OrderItem/PendingFood"><span class="icon icon-th-list"></span></a>
				<div class="title">
                    <h2><a style="text-decoration:none" href="~/OrderItem/PendingFood">Kitchen Staff</a></h2>
				</div>
				<p>For Kitchen staff view the food ordering and updating status.</p>
			</div>
            <div class="column2"> <a href="~/OrderItem/PendingDrink"><span class="icon icon-glass"></span></a>
				<div class="title">
					<h2><a style="text-decoration:none" href="~/OrderItem/PendingDrink">Bar Staff</a></h2>
				</div>
				<p>For Bar staff view the order and updating status.</p>
			</div>
			<div class="column3"> <a href="~/Order/Edit"><span class="icon icon-food"></span></a>
				<div class="title">
					<h2><a style="text-decoration:none" href="~/Order/Edit">Guest</a></h2>
				</div>
				<p>For Guest ordering menu.</p>
			</div>
        </div>
	</div>
</div>