body {
}

.ball {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width: 24px;
    height: 24px;
    padding: 4px;

    background: #ddd;
    border: 2px solid #666;
    /*color: #666; */
    text-align: center;

    font-weight: bold;
}