<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PosWPF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %d{yyyy-MM-dd HH:mm:ss,fff zzz} %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="yancyn@gmail.com"/>
      <from value="yancyn@hotmail.com"/>
      <subject value="PosWPF ERROR"/>
      <smtpHost value="smtp.live.com"/>
      <port value="587" />
      <authentication value="Basic" />
      <username value="yancyn@hotmail.com" />
      <password value="55175216" />
      <EnableSsl value="true" />
      <bufferSize value="512"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="SmtpAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="PosConnectionString" connectionString="DbLinqProvider=Sqlite;DbLinqConnectionType=System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139;Data Source=E:\projects\hi-tea\src\PosMvc\App_Data\pos.db3;" providerName="SQLite"/>
  </connectionStrings>
  <applicationSettings>
    <PosWPF.Settings>
      <setting name="MoneyFormat" serializeAs="String">
        <value>###,###,##0.00</value>
      </setting>
      <setting name="DateTimeFormat" serializeAs="String">
        <value>dd/MM/yyyy hh:mm tt</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>Hi Tea</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="Telephone" serializeAs="String">
        <value />
      </setting>
      <setting name="Website" serializeAs="String">
        <value />
      </setting>
      <setting name="Facebook" serializeAs="String">
        <value />
      </setting>
      <setting name="ReceiptPrinter" serializeAs="String">
        <value>Cashier</value>
      </setting>
      <setting name="LabelPrinter" serializeAs="String">
        <value>Bar</value>
      </setting>
      <setting name="OrderPrinter" serializeAs="String">
        <value>Kitchen</value>
      </setting>
      <setting name="TableIndexes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1</string>
            <string>3</string>
            <string>11</string>
            <string>13</string>
            <string>21</string>
            <string>23</string>
            <string>31</string>
            <string>33</string>
            <string>41</string>
            <string>51</string>
            <string>61</string>
            <string>71</string>
            <string>81</string>
            <string>83</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Start" serializeAs="String">
        <value>12/11/2013 11:00:00</value>
      </setting>
      <setting name="End" serializeAs="String">
        <value>12/11/2013 17:30:00</value>
      </setting>
      <setting name="MaxQueue" serializeAs="String">
        <value>100</value>
      </setting>
    </PosWPF.Settings>
  </applicationSettings>
</configuration>