<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PosWPF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PosConnectionString" connectionString="DbLinqProvider=Sqlite;DbLinqConnectionType=System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139;Data Source=pos.db3;" providerName="SQLite"/>
  </connectionStrings>
  <applicationSettings>
    <PosWPF.Settings>
      <setting name="MoneyFormat" serializeAs="String">
        <value>###,###,##0.00</value>
      </setting>
      <setting name="DateTimeFormat" serializeAs="String">
        <value>dd/MM/yyyy hh:mm tt</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="Telephone" serializeAs="String">
        <value />
      </setting>
      <setting name="Website" serializeAs="String">
        <value />
      </setting>
      <setting name="Facebook" serializeAs="String">
        <value />
      </setting>
      <setting name="TableIndexes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1</string>
            <string>3</string>
            <string>5</string>
            <string>12</string>
            <string>14</string>
            <string>21</string>
            <string>23</string>
            <string>25</string>
            <string>41</string>
            <string>51</string>
            <string>61</string>
            <string>71</string>
            <string>74</string>
          </ArrayOfString>
        </value>
      </setting>
    </PosWPF.Settings>
  </applicationSettings>
</configuration>